html, body {
  height: 100%;
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
}

body {
  padding-top: 56px;
}

.monospace {
  font-family: var(--rsc-mono);
}

pre {
  white-space: pre-wrap;
  word-break: break-word;
}
