{% extends "base.html" %}
{% block content %}
  <h5 class="mb-2">Сервисы</h5>
  <div class="table-responsive">
    <table class="table table-dark table-hover table-sm align-middle">
      <thead><tr><th>Имя</th><th>Отображаемое</th><th>Статус</th><th></th></tr></thead>
      <tbody>
        {% for s in services %}
        <tr>
          <td class="monospace">{{ s.service_name }}</td>
          <td>{{ s.display_name }}</td>
          <td>{{ s.state }}</td>
          <td class="text-end">
            <form method="post" action="{{ url_for('services_action') }}" class="d-inline">
              <input type="hidden" name="name" value="{{ s.service_name }}">
              <input type="hidden" name="action" value="start">
              <button class="btn btn-sm btn-outline-success">Start</button>
            </form>
            <form method="post" action="{{ url_for('services_action') }}" class="d-inline">
              <input type="hidden" name="name" value="{{ s.service_name }}">
              <input type="hidden" name="action" value="stop">
              <button class="btn btn-sm btn-outline-danger">Stop</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
