{% extends "base.html" %}
{% block content %}
  <h5 class="mb-2">{{ t('nav.system') }}</h5>
  <div class="row g-3">
    <div class="col-12 col-md-6">
      <div class="card"><div class="card-body">
        <div><span class="text-muted">{{ t('sys.host') }}:</span> <span class="monospace">{{ info.hostname }}</span></div>
        <div><span class="text-muted">{{ t('sys.os') }}:</span> {{ info.os }}</div>
        <div><span class="text-muted">{{ t('sys.python') }}:</span> {{ info.python }}</div>
        <div><span class="text-muted">{{ t('sys.user') }}:</span> {{ info.user }}</div>
        <div><span class="text-muted">{{ t('sys.boot_time') }}:</span> <span class="monospace">{{ info.boot_time | int }}</span></div>
      </div></div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card"><div class="card-body">
        <div><span class="text-muted">{{ t('sys.cpu_count') }}:</span> {{ info.cpu_count }} / {{ info.cpu_count_phys }}</div>
        <div><span class="text-muted">{{ t('sys.mem_total') }}:</span> {{ info.mem.total | bytes_human }}</div>
        <div><span class="text-muted">{{ t('sys.mem_used') }}:</span> {{ info.mem.used | bytes_human }} ({{ info.mem.percent }}%)</div>
        <div><span class="text-muted">{{ t('sys.mem_avail') }}:</span> {{ info.mem.available | bytes_human }}</div>
      </div></div>
    </div>
  </div>
{% endblock %}
